/* Columns for Sidebar, Viewport, and Pixel Analysis Chart */
@media screen and (orientation:portrait) {
	html {
		height: 220vw;
		width: 100%;
	}

	body {
		height: 220vw;
		width: 100%;
	}

	#main-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0px;
	}

	#sidebar{
		/*flex-basis: 50px;*/
		height: 20vw;
		width: 80vw;
		/*padding-left: 10vw;*/
		/*padding-right: 10vw;*/
	}

	#image-column {
		/*flex-basis: 50%;*/
		width: 80vw;
		height: 100vw;
	}

	#pixel-analysis-column{
		/*flex-basis: 50%;*/
		width: 80vw;
		height: 100vw;
	}
}
@media screen and (orientation:landscape) { 
	html {
		height: 100%;
		width: : 100%;
	}

	body {
		height: 100%;
		width: 100%;
	}

	#main-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin: 0px;
	}

	#sidebar{
		width: 13vw;
		height: 45vw;
		padding-right: 2vw;
	}

	#image-column {
		/*flex-basis: 50%;*/
		width: 38vw;
		height: 45vw;
		padding-right: 2vw;
	}

	#pixel-analysis-column{
		/*flex-basis: 50%;*/
		width: 38vw;
		height: 45vw;
	}
}

/* Sidebar items */
@media screen and (orientation:portrait) {
	#sidebar {
		display: flex;
		flex-direction: row;
		width: 80vw;
		align-items: center;
	}

	#story-toggle{
		height: 10vw;
		width: 40vw;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	#explore-toggle{
		height: 10vw;
		width: 40vw;

		display: flex;	
		justify-content: center;
		align-items: center;
	}
}
@media screen and (orientation:landscape) {
	#sidebar {
		display: flex;
		flex-direction: column;
		height: 45vw;
		width: 5vw;
		/*justify-content: space-evenly;*/
	}

	#story-toggle{
		flex-basis: 17.5vw;

		flex-basis: 50%;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	#explore-toggle{
		flex-basis: 17.5vw;
		flex-basis: 50%;

		display: flex;	
		justify-content: center;
		align-items: center;
	}

	.sidebar-item{
		/* Safari */
		-webkit-transform: rotate(-90deg);

		/* Firefox */
		-moz-transform: rotate(-90deg);

		/* IE */
		-ms-transform: rotate(-90deg);

		/* Opera */
		-o-transform: rotate(-90deg);

		/* Internet Explorer */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}
}

/* Image viewport items */
@media screen and (orientation:portrait) {
	#image-column {
		display: flex;
		flex-direction: column;
		align-items: center;
  	}
	#image-menu {
		flex-basis: 10vw;
		width: 80vw;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	#image-viewport {
	
		width: 80vw;
		height: 80vw;
		
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media screen and (orientation:landscape) {
	#image-column {
		display: flex;
		flex-direction: column;
		height: 45vw;
		width: 38vw;
	}
	#image-menu {
		height: 7vw;
		width: 38vw;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	#image-viewport {
		height: 38vw;
		width: 38vw;
		
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/* Pixel analysis items */
@media screen and (orientation:portrait) {
	#pixel-analysis-column {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#pixel-analysis-menu {
		flex-basis: 10vw;

		width: 80vw;
		height: 80vw;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	#pixel-analysis-viewport {
		width: 80vw;
		height: 80vw;
		
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media screen and (orientation:landscape) {
	#pixel-analysis-column {
		display: flex;
		flex-direction: column;

		height: 45vw;
		width: 38vw;
	}
	#pixel-analysis-menu {
		height: 7vw;
		width: 38vw;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	#pixel-analysis-viewport {
		height: 38vw;
		width: 38vw;
		
		display: flex;
		justify-content: center;
		align-items: center;
	}
}