/* Columns for Sidebar, Viewport, and Pixel Analysis Chart */
@media screen and (orientation:portrait) {
	#main-container {
		display: flex;
		flex-direction: column;
		align-content: center;
		margin: 0px;
		width: 100%;
	}

	#sidebar{
		flex-basis: 50px;
	}

	#image-column {
		/*flex-basis: 50%;*/
		width: 100vmin;
		height: 110vmin;
	}

	#pixel-analysis-column{
		/*flex-basis: 50%;*/
		width: 100vmin;
		height: 110vmin;
	}
}
@media screen and (orientation:landscape) { 
	#main-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin: 0px;
	}

	#sidebar{
		width: 13vw;
		height: 40vw;
		padding-right: 2vw;
	}

	#image-column {
		/*flex-basis: 50%;*/
		width: 38vw;
		height: 45vw;
		padding-right: 2vw;
	}

	#pixel-analysis-column{
		/*flex-basis: 50%;*/
		width: 38vw;
		height: 45vw;
	}
}

/* Sidebar items */
@media screen and (orientation:portrait) {
	#sidebar {
		display: flex;
		flex-direction: row;
		width: 100%;
		/*justify-content: space-evenly;*/
	}

	#help-toggle {
		flex-basis: 10vw;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	#pixel-view-toggle{
		flex-basis: 50%;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	#three-d-view-toggle{
		flex-basis: 50%;

		display: flex;	
		justify-content: center;
		align-items: center;
	}
}
@media screen and (orientation:landscape) {
	#sidebar {
		display: flex;
		flex-direction: column;
		height: 45vw;
		width: 5vw;
		/*justify-content: space-evenly;*/
	}

	#help-toggle {
		flex-basis: 10vw;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	#pixel-view-toggle{
		flex-basis: 17.5vw;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	#three-d-view-toggle{
		flex-basis: 17.5vw;

		display: flex;	
		justify-content: center;
		align-items: center;
	}
}

/* 3D viewport items */
@media screen and (orientation:portrait) {
	#image-column {
		display: flex;
		flex-direction: column;
	}
	#image-menu {
		flex-basis: 10vw;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	#image-viewport {
	
		width: 100vw;
		height: 100vw;
		
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media screen and (orientation:landscape) {
	#image-column {
		display: flex;
		flex-direction: column;
	}
	#image-menu {
		flex-basis: 7vw;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	#image-viewport {
		height: 38vw;
		
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/* Pixel analysis items */
@media screen and (orientation:portrait) {
	#pixel-analysis-column {
		display: flex;
		flex-direction: column;
	}
	#pixel-analysis-menu {
		flex-basis: 10vw;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	#pixel-analysis-viewport {
		width: 100vw;
		height: 100vw;
		
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media screen and (orientation:landscape) {
	#pixel-analysis-column {
		display: flex;
		flex-direction: column;
	}
	#pixel-analysis-menu {
		flex-basis: 7vw;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	#pixel-analysis-viewport {
		height: 38vw;
		/*height: 100%;*/
		
		display: flex;
		justify-content: center;
		align-items: center;
	}
}