/*#viewport-img {
	width: 99.9%;
	height: 99.9%;
}*/

.overlay {
  fill: none;
  pointer-events: all;
}

.brush {
	fill: rgba(255, 255, 255, .3);
	stroke-width: 3;
	stroke: rgb(0,0,0);
}

.selectedPixel {
	fill: rgba(0,255, 0, 0.8);
	stroke-width: .05vw;
	stroke: rgba(0,255,0, 1.0);
}

.hoveredPixel {
	fill: rgba(0, 255, 0, 0.3);
	stroke-width: .05vw;
	stroke: rgba(0,255,0, 0.5);
}

image{
	-ms-interpolation-mode: nearest-neighbor; /* IE 7+ (non-standard property)*/
	image-rendering: -webkit-optimize-contrast; /* Safari 6, UC Browser 9.9*/
	image-rendering: -webkit-crisp-edges; /* Safari 7+*/
	image-rendering: -moz-crisp-edges; /* Firefox 3.6+*/
	image-rendering: -o-crisp-edges; /* Opera 12*/
	image-rendering: pixelated; /* Chrome 41+ and Opera 26+*/

    image-rendering:optimizeSpeed;             /* Legal fallback */
	image-rendering:-moz-crisp-edges;          /* Firefox        */
	image-rendering:-o-crisp-edges;            /* Opera          */
	image-rendering:optimize-contrast;         /* CSS3 Proposed  */
	image-rendering:crisp-edges;               /* CSS4 Proposed  */
	image-rendering:pixelated;                 /* CSS4 Proposed  */
	-ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}