/*#viewport-img {
	width: 99.9%;
	height: 99.9%;
}*/

.overlay {
  fill: none;
  pointer-events: all;
}

.brush {
	fill: rgba(0, 0, 0, .3);
	stroke-width: 3;
	stroke: rgb(0,0,0);
}

image{
    image-rendering:optimizeSpeed;             /* Legal fallback */
	image-rendering:-moz-crisp-edges;          /* Firefox        */
	image-rendering:-o-crisp-edges;            /* Opera          */
	image-rendering:-webkit-optimize-contrast; /* Safari         */
	image-rendering:optimize-contrast;         /* CSS3 Proposed  */
	image-rendering:crisp-edges;               /* CSS4 Proposed  */
	image-rendering:pixelated;                 /* CSS4 Proposed  */
	-ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}